<span class="radioclass">Show : </span>

<input type="radio" name="options" value="All" [(ngModel)] = "RadioButtonChangedValue" (change) = "OnRadioButtonChangedEvent()" />
<span class="radioclass">{{"All ("+ All + ")"}}</span>

<input type="radio" name="options" value="Female" [(ngModel)] = "RadioButtonChangedValue" (change) = "OnRadioButtonChangedEvent()" />
<span class="radioclass">{{"Female ("+Female+")"}}</span>

<input type="radio" name="options" value="Male" [(ngModel)] = "RadioButtonChangedValue" (change) = "OnRadioButtonChangedEvent()"/>
<span class="radioclass">{{"Male ("+Male+")"}}</span>
